<!-- banner part start-->
<section class="banner_part">
    <link rel="stylesheet" href="css/khaleo.css">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h1>It's so easy to convert your voice to document</h1>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam.</p> -->
                        <!-- <a href="#" class="btn_2 banner_btn_1">Sign in </a> -->
                        <img class="landing" src="img/about_img.png" alt="">

                    </div>
                </div>
            </div>
            <div class="col-lg-5 signupform">
                <div class="banner_img d-none d-lg-block">
                    <form class="inputform" method="POST" action="/register">
                        <div class="mt-10">
                            <input type="text" placeholder="Your email" name="email" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Your email'" required class="single-input">
                        </div>
                        <div class="mt-10">
                            <input type="password" name="password" placeholder="Password"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required
                                class="single-input">
                        </div>
                        <div class="mt-10">
                            <input type="password" name="password_repeat" placeholder="Confirm Password'"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'" required
                                class="single-input">
                        </div>
                        <button class="btn_2 banner_btn_2 signupBtn" type="submit" placeholder="Sign up"
                            value="Sign up">Sign
                            up</button>

                        <div class="group-social-button">
                            <a href="https://www.google.com" class="btn_2 banner_btn_2 signupBtn" placeholder="Google"
                                value="Google">
                                <span class="social-icon"><img src="img/social-icons/google.png" width="35px"
                                        height="35px" alt=""></span>
                                Google</a>
                            <a href="https://www.facebook.com" class="btn_2 banner_btn_2 signupBtn"
                                placeholder="Facebook" value="Facebook">
                                <span class="social-icon"><img src="img/social-icons/facebook.png" width="35px"
                                        height="35px" alt=""></span>
                                Facebook</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner part start-->