{{>header user=this.user}}
<!-- banner part start-->
<section class="banner_part register-section">
    <link rel="stylesheet" href="css/khaleo.css">
    <div class="container">
        <div class="row">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h1>Drive More Customers
                                Through Digital</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam.</p>
                            <a href="#" class="btn_2 banner_btn_1">Get Started </a>
                            <a href="/register" class="btn_2 banner_btn_2">Sign up for free </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <form action="/transcribe/uploadFile" enctype="multipart/form-data" method="POST">



                        <label class="custom-file-upload">
                            <div class="txt-sm">Audio file <span id="cv-file-name"></span> <span>Supported format:
                                    .WAV</span></div>
                            <input class="btn_2 banner_btn_2" type="file" id="myFile" name="myFile" accept="audio/wav" required>
                            
                        </label>
                        <div>
                            <input type="submit" class="btn_2 banner_btn_1" /><br>
                        </div>
                    </form>
                    <div class="form-group">
                        <h3>{{descriptionFile}}</h3>
                        <textarea class="form-control rounded-0" id="exampleFormControlTextarea1"
                            rows="10" value={{jsonData}}>{{jsonData}}</textarea>
                    </div>
                </div>




            </div>
            </form>



        </div>
    </div>

</section>
<!-- banner part end-->
{{>footer}}