<!-- <<<<<<<<<<<<<<<<<<<< My Profile Area Start >>>>>>>>>>>>>>>>>>>>>>>> -->
<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>{{title}}</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb">

                    <li><a href="/">Trang Chủ</a>
                    </li>
                    <li>{{title}}</li>
                </ul>

            </div>
        </div>
    </div>
</div>
<div class="my_profile_area section_padding_0_100">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-3">

            </div>

            <div class="col-12 col-md-6">
                <div class="ui-state-error" id="error-message"  ></div>

                    <form action="#" method="POST" class="text-left">
                            <input hidden="true" id="user_name" name="user_name" value="{{user.user_name}}">

                        <div class="form-group">
                            <label for="create_password">Nhập mật khẩu hiện tại</label>
                            <input type="text"  id="confirm_password" name="confirm_password" class="form-control" aria-describedby="passwordHelpBlock">
                            <small id="passwordHelpBlock" class="form-text text-muted">Nếu bạn không muốn tạo password, vui lòng để khoảng trắng</small>
                        </div>
                        <div class="form-group">
                            <label for="create_password">Tạo mật khẩu mới</label>
                            <input type="password" id="update_password" name="update_password" class="form-control" aria-describedby="passwordHelpBlock">
                            <small id="passwordHelpBlock" class="form-text text-muted">Nếu bạn không muốn tạo password, vui lòng để khoảng trắng</small>
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">Xác nhận mật khẩu mới</label>
                            <input type="password" id="retype_update_password" name="retype_update_password" class="form-control" >
                            <small id="passwordHelpBlock" class="form-text text-muted">Nếu bạn không muốn tạo password, vui lòng để khoảng trắng</small>
                        </div>

                        <button href="/changepassword" id="btn-changepasssword" type="submit" class="btn bigshop-btn w-100">ĐỔI MẬT KHẨU</button>
                    </form>

            </div>


        </div>
    </div>
</div>
{{#extend "changepassword-script"}}
    <script>

        $('#error-message').hide();
        $('#update_password').attr("disabled",true);
        $('#retype_update_password').attr("disabled",true);
        $("#btn-changepasssword").attr("disabled", true);
        $('#confirm_password').keyup(function() {
            $.getJSON('/api/user/checkValidPassword?user_name='+$('#user_name').val()+'&password='+$('#confirm_password').val(), function (data){
                if (!data) {
                    $('#error-message').show();
                    $('#error-message').html('Xác nhận mật khẩu không khớp! Vui lòng nhập lại');
                    $('#update_password').attr("disabled",true);
                    $('#retype_update_password').attr("disabled",true);
                    $("#btn-changepasssword").attr("disabled", true);
                }
                else {
                    $('#update_password').attr("disabled",false);
                    $('#retype_update_password').attr("disabled",false);
                    $('#error-message').hide();


                }

            })
        });
        $('#retype_update_password').keyup(function() {

            if ($('#retype_update_password').val() != $('#update_password').val() ) {
                $('#error-message').show();
                $('#error-message').html('Xác nhận mật khẩu không khớp! VUi lòng nhập lại');
                $("#btn-changepasssword").attr("disabled", true);
            }
            else {
                $('#error-message').hide();
                $("#btn-changepasssword").attr("disabled", false);
            }

        });

    </script>
{{/extend}}
<!-- <<<<<<<<<<<<<<<<<<<< My Profile Area End >>>>>>>>>>>>>>>>>>>>>>>> -->