
<!-- ***** Checkout Area Start ***** -->
<div class="checkout_area section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="order_complated_area clearfix">
                    <h5>{{notify}}</h5>
                    <p>{{message}}</p>

                </div>
            </div>

            <div class="col-12">
                <div class="checkout_pagination mt-50">
                    <a href="/recover" class="btn bigshop-btn">Trở lại</a>
                    <a href="/login" class="btn bigshop-btn">Quay lại đăng nhập</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Checkout Area End ***** -->
