<!-- <<<<<<<<<<<<<<<<<<<< My Profile Area Start >>>>>>>>>>>>>>>>>>>>>>>> -->
<h1>{{message}}</h1>
<div class="my_profile_area section_padding_0_100">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-3">

            </div>

            <div id="recover-form" class="col-12 col-md-6">
                <div class="ui-state-error" id="error-message"  ></div>

                <form action="#" method="POST" class="text-left">
                    <div class="form-group">
                        <label for="create_password">Tên đăng nhập</label>
                    <input disabled="true" value="{{user_name}}" class="form-control" aria-describedby="passwordHelpBlock">
                        <input hidden="true" id="username" name="user_name" value="{{user_name}}" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="create_password">Tạo mật khẩu mới</label>
                        <input type="password" id="update_password" name="update_password" class="form-control" aria-describedby="passwordHelpBlock">
                        <small id="passwordHelpBlock" class="form-text text-muted">Nếu bạn không muốn tạo password, vui lòng để khoảng trắng</small>
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Xác nhận mật khẩu mới</label>
                        <input type="password" id="retype_update_password" name="retype_update_password" class="form-control" >
                        <small id="passwordHelpBlock" class="form-text text-muted">Nếu bạn không muốn tạo password, vui lòng để khoảng trắng</small>
                    </div>

                    <button href="/changepassword" id="btn-changepasssword" type="submit" class="btn bigshop-btn w-100">ĐỔI MẬT KHẨU</button>
                </form>

            </div>


        </div>
    </div>
</div>
{{#extend "recoverpassword-script"}}

    <script>
        $('#recover-form').hide();
        if ($({{username}}).val() == "") {

            $('#recover-form').hide();
        }
        else
        {
            $('#recover-form').show();
            $('#error-message').hide();
            $("#btn-changepasssword").attr("disabled", true);
            $('#retype_update_password').keyup(function() {

                if ($('#retype_update_password').val() != $('#update_password').val() ) {
                    $('#error-message').show();
                    $('#error-message').html('Xác nhận mật khẩu không khớp! Vui lòng nhập lại');
                    $("#btn-changepasssword").attr("disabled", true);
                }
                else {
                    $('#error-message').hide();
                    $("#btn-changepasssword").attr("disabled", false);
                }

            });

        }





    </script>
{{/extend}}
<!-- <<<<<<<<<<<<<<<<<<<< My Profile Area End >>>>>>>>>>>>>>>>>>>>>>>> -->