{{>header user=this.user}}
<!-- banner part start-->
{{>header user=this.user}}
<script>
    let info = "{{ this.info.message }}"
    if (info) alert(info)
</script>
<section class="banner_part login-section">
    <link rel="stylesheet" href="css/khaleo.css">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h1>It's so easy to convert your voice to document</h1>
                        <img class="landing" src="img/about_img.png" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-5 signupform">
                <div class="banner_img d-none d-lg-block">
                    <form class="inputform" action="/login" method="POST">
                        <div class="mt-10">
                            <input type="email" name="email" placeholder="Your email" onfocus="this.placeholder"
                                onblur="this.placeholder" required class="single-input">
                        </div>
                        <div class="mt-10">
                            <input type="password" name="password" placeholder="Password"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required
                                minlength="6" class="single-input">
                        </div>
                        <button type="submit" class="btn_2 banner_btn_2 signupBtn" placeholder="Sign in"
                            value="Sign in">Sign
                            in</button>
                        <div class="mt-10">
                            <a href="/recoveryPassword">Forgot password?</a>
                        </div>
                        <div class="mt-30">
                            <label>Or login with</label>
                            <div class="group-social-button">
                                <a href="./login/auth/google" class="btn_2 banner_btn_2 signupBtn" placeholder="Google"
                                    value="Google">
                                    <span class="social-icon"><img src="img/social-icons/google.png" width="35px"
                                            height="35px" alt=""></span>
                                    Google</a>
                                <a href="./login/auth/facebook" class="btn_2 banner_btn_2 signupBtn"
                                    placeholder="Facebook" value="Facebook">
                                    <span class="social-icon"><img src="img/social-icons/facebook.png" width="35px"
                                            height="35px" alt=""></span>
                                    Facebook</a>
                            </div>
                        </div>

                        <div class="signUp-direct">
                            <a style="color: #8a8787b7;">Not a member? <a href="/register">Sign up now</a></a>
                        </div>
                    </form>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner part start-->
{{>footer}}