{{>header user=this.user}}
<!-- banner part start-->
{{>header user=this.user}}
<style>
    .use_sasu {
        margin-top: 100px;
    }

    .banner_part .banner_text .banner_text_iner {
        padding-top: 150px;
        vertical-align: unset;
    }

    .signupform {
        margin-top: 160px;
        width: 40px;
    }

    .single-input {

        margin: 0 auto;
        margin-bottom: 10px;
        width: 80%;
        border-radius: 20px;
        border-style: none;
    }

    .signupBtn {
        display: block;
        margin: 0 auto;
        border-radius: 20px;
        text-align: center;
        width: 40%;
        height: 20px;
    }

    .banner_part {
        height: 800px;
    }

    .landing {
        background-color: whitesmoke;
        padding: 10px;
        border-radius: 20px;
        width: 40%;

    }

    .inputform {
        border: 1px solid whitesmoke;
        padding: 20px;
        border-radius: 20px;


    }

    .logo {
        width: 150px;
        padding: 5px;
        margin: 0 auto;
    }

    @media (max-width: 576px) {
        .logo {
            max-width: 100px;
            padding: 2px;
        }
    }

    .section_tittle p {
        text-transform: none
    }

    .text-center {
        text-align: left !important;
    }

    .api-title {
        text-align: center !important;
    }
</style>





<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2 class="api-title">API DOC</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->

<!--================Blog Area =================-->
<!-- use sasu part end-->
<section class="use_sasu">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_tittle text-center">
                    <h2>YOUR API KEY</h2>
                    <section id="name" data-original-title="" title="">

                    </section>


                    <h3> b6907d289e10d714a6e88b30761fae22</h3>
                    <h5>Description:</h5>
                    <p> You can call by URL. API responds with JSON with URL of text if success</p>
                    <!-- <div class="info-board info-board-blue">
                             <p>API response. <a href="http://samples.openweathermap.org/data/2.5/forecast?q=M%C3%BCnchen,DE&amp;appid=b6907d289e10d714a6e88b30761fae22" target="blank ">Example</a></p>
                        </div> -->
                    <h5>API call:</h5>
                    <p>api.abcvoice.org/data?apikey={API Key}&url={URL}</p>
                    <h5>Parameters:</h5>
                    <p><b>apikey </b>Your API Key</p>
                    <p><b>url </b>Your URL link to your voice file</p>
                    <h5>Examples of API calls:</h5>
                    <p text-align="left"><a href=""
                            target="_blank">api.abcvoice.org/data?apikey=jsdngIphdnYTDVmjchmmsb&url=soundcloud.com/nuocmatemlaubangtinhyeumoi</a>


                        <section id="cityid"></section>
                </div>
            </div>
        </div>
        <!-- <div class="row justify-content-center">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single_feature">
                            <div class="single_feature_part">
                                <img src="img/icon/feature_icon_1.png" alt="">
                                <h4>A Volunteer</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single_feature">
                            <div class="single_feature_part">
                                <img src="img/icon/feature_icon_2.png" alt="">
                                <h4>A Volunteer</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single_feature">
                            <div class="single_feature_part">
                                <img src="img/icon/feature_icon_3.png" alt="">
                                <h4>A Volunteer</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor</p>
                            </div>
                        </div>
                    </div>
                </div> -->
    </div>
    <img src="img/animate_icon/Shape-14.png" alt="" class="feature_icon_1">
    <img src="img/animate_icon/Shape-10.png" alt="" class="feature_icon_2">
    <img src="img/animate_icon/Shape.png" alt="" class="feature_icon_3">
    <img src="img/animate_icon/shape-13.png" alt="" class="feature_icon_4">
</section>
<!--================Blog Area =================-->

{{>footer}}